*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;

}



body{

background:#eef2f7;
color:#333;

}



/* HEADER */

header{

background:#0f172a;
color:white;
text-align:center;
padding:25px;

}


header h1{

font-size:32px;

}


header p{

margin-top:10px;

}





/* CONTENEDOR */

.contenedor{

width:90%;
margin:auto;
padding:30px;

}





/* CUADROS */

.resumen{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;

}



.cuadro{

background:white;
padding:25px;
text-align:center;
border-radius:15px;
box-shadow:0 5px 15px #0003;

}


.cuadro h3{

color:#475569;
margin-bottom:15px;

}



.cuadro strong{

font-size:35px;
color:#2563eb;

}


.cuadro p{

color:#64748b;
margin-top:10px;

}






/* MAPA */

.mapa{

background:white;
padding:20px;
margin-top:35px;
border-radius:15px;
box-shadow:0 5px 15px #0003;

}


.mapa h2{

margin-bottom:20px;

}



iframe{

width:100%;
height:350px;
border:0;
border-radius:10px;

}






/* SENSORES */


.titulo-seccion{

margin-top:35px;
margin-bottom:20px;

}



.sensores{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;

}




.sensor{

background:white;
padding:25px;
border-radius:15px;
box-shadow:0 5px 15px #0003;

}



.sensor h3{

color:#2563eb;
margin-bottom:15px;

}



.sensor span{

display:inline-block;
background:#22c55e;
color:white;
padding:8px 20px;
border-radius:20px;
margin-top:15px;

}






/* TABLA */


.tabla{

background:white;
padding:25px;
margin-top:35px;
border-radius:15px;
box-shadow:0 5px 15px #0003;

}



table{

width:100%;
border-collapse:collapse;
margin-top:20px;

}



th{

background:#2563eb;
color:white;
padding:12px;

}



td{

padding:12px;
text-align:center;
border-bottom:1px solid #ddd;

}





/* FOOTER */


footer{

background:#0f172a;
color:white;
text-align:center;
padding:20px;
margin-top:30px;

}





@media(max-width:900px){


.resumen{

grid-template-columns:repeat(2,1fr);

}



.sensores{

grid-template-columns:1fr;

}


}
